{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <style>
        #input,select,textarea{
            box-shadow: 2px 2px 2px gray;
        }
        #input:hover{
            box-shadow: none;
        }
        label{
            color: black;
        }
        body{
            background-color: rgb(130, 144, 199);
            
        }
        
       
            .bs{
                box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.397);
            }
        
            .bs_sm{
                box-shadow: inset 2px 2px 5px 3px rgba(0, 0, 0, 0.199);
            }
        
            .tb{
                color: black;
            }
        
            .tg{
                color: rgb(0, 140, 7);
            }
        
            .tr{
                color: rgb(218, 0, 0);
            }
        
            .btn_add{
                background-color: orange;
                color: black;
            }
        
            .btn_add:hover{
                background-color: rgb(234, 152, 0);
                color: black;
            }
                
            .bg-pink{
                background-color: rgb(239, 3, 82)
            }
        
            ::-webkit-scrollbar{
                display: none
            }
      
        
       
    </style>
    <body>
      
<br><br><br>
    <div class="body-wrapper " style="margin-top:30px;margin-left:190px;">
        
        
        <div class="p-5 text-center" style="display: flex;justify-content: center;">
            
            <div class="card " style="background-color: white;width:50rem;box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.249);">
               
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <img height="300vw" style="margin-top:35px;" src="static/images/b1.jpg" class="card-img" alt="no img">
                        <!-- <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small>Last updated 3 mins ago</small></p>
                        </div> -->
                    </div>
                    <div class="col-sm-12 col-md-6 ps-4 pe-4">
                        <div class="p-1 rounded" style="border: 1px solid rgba(0, 0, 0, 0);border-bottom: none;">
                            <p style="margin-bottom: 4rem;"></p>
                            <p></p>
                            <h1 style="font-weight:900;color:rgb(61, 68, 101);font-size: 1.5rem;">BILLING SOFTWARE</h1>
                            <!-- <h5 class="card-title">Card title</h5> -->
                            <p style="margin-bottom: 1.5rem;"></p>
                            <p class="card-text" style="color:black;font-weight:bold;">Welcome to Billing software. We are supporting to purchase an Item. So first bill to registration. Please click the button.</p>
                            <p style="color: rgb(0, 89, 10);font-weight: light;" class="card-text">You can manage all you purchase bills here.</p>
                            <p class="mt-4"></p>
                            <a class="btn btn-lg " style="background-color:rgb(61, 68, 101);font-weight:bold;" href="{% url 'add_purchasebill' %}">Add Your First Purchase Bill</a>
                            <p style="margin-bottom: 4rem;"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
        
</body>

{% endblock %}